<div id="menu-options">
    <div class="menu-header">Menu Options</div>
    <ul>
        <li><a href="#">About Me <i class="fa-solid fa-chevron-right"></i></a></li>
        <li><a href="#">My Membership <i class="fa-solid fa-chevron-right"></i></a></li>
        <li><a href="#">My Bookings <i class="fa-solid fa-chevron-right"></i></a></li>
        <li><a href="#">Sign Out <i class="fa-solid fa-chevron-right"></i></a></li>
    </ul>
</div>
        