

<div id="accordion-container">

    <details name ="faq">
        <summary>Q1. Do I need prior gym experience to Join CoreFitness? <i class="fa-solid fa-chevron-down"></i></summary>
        <div class="answer">
            <p>
                No, CoreFitness is designed for all fitness levels. Our trainers guide beginners with
                proper techniques and structured workout plans to help them start safely and
                confidently.
            </p>
            <ul>
                <li>Every new member receives a personalized introduction to equipments</li>
                <li>Workouts are designed to grow with you, ensuring beginners can start safely.</li>
            </ul>
        </div>
    </details>

    <details name="faq">
        <summary>Q2. What facilities are included with the membership? <i class="fa-solid fa-chevron-down"></i></summary>
        <div class="answer">
            <p>
                Our members have full access to our state-of-the-art strength training area, cardio zone, and locker rooms.
            </p>
            <ul>
                <li>Modern saunas and recovery zones</li>
                <li>Free high-speed Wi-Fi and lounge area</li>
            </ul>
        </div>
    </details>

    <details name="faq">
        <summary>Q3. Can I try the gym before taking a membership? <i class="fa-solid fa-chevron-down"></i> </summary>
        <div class="answer">
            <p>
                Yes! We offer a one-day guest pass for all first-time visitors who want to experience the atmosphere.
            </p>
            <ul>
                <li>No commitment required for the trial</li>
                <li>Full access to all equipment during your visit</li>
            </ul>
        </div>
    </details>

    <details name="faq">
        <summary>Q4. Are there group workout programs available? <i class="fa-solid fa-chevron-down"></i></summary>
        <div class="answer">
            <p>
                We offer a wide variety of group classes led by expert instructors.
            </p>
            <ul>
                <li>High-Intensity Interval Training (HIIT)</li>
                <li>Yoga and Pilates sessions</li>
                <li>Group cycling classes</li>
            </ul>
        </div>
    </details>

    <details name="faq">
        <summary>Q5. Is nutrition guidance included in the plans? <i class="fa-solid fa-chevron-down"></i></summary>
        <div class="answer">
            <p>
                While our standard membership focuses on training, we offer specialized plans that include nutrition.
            </p>
            <ul>
                <li>Personalized meal planning</li>
                <li>Regular check-ins with a certified nutritionist</li>
            </ul>
        </div>
    </details>

</div>