<div class="membership-card">

    <div class="card-header">

              <div class="card-icon">
                  <i class="fa-solid fa-dumbbell"></i>
              </div>

        <h2>Standard Membership</h2>
        <hr />
        <p>With the Standard Membership, get access to our full range of gym facilities.</p>
        <ul class="feature-list">
            <li><i class="fa-solid fa-check check-icon"></i> Standard Locker</li>
            <li><i class="fa-solid fa-check check-icon"></i> High-energy group fitness classes</li>
            <li><i class="fa-solid fa-check check-icon"></i> Motivating & supportive environment</li>
        </ul>
    </div>
    
    <div class="card-footer">

        <div class="price-row">
            <div class="price-block">
                <span class="price">495.00</span> <span class="monthly">/monthly</span>
            </div>
            <a href="#" class="signin-btn">Join Now <i class="fa-solid fa-chevron-right"></i></a> </div>
        <p class="price-info">* Monthly 20 Classes</p>
        
        <hr class="footer-divider" />
        
        <p class="trial-info">Try Any Membership Fre for 1 Week</p>

    </div>

</div>