<div>

<h2>Standard Membership</h2>

    <hr class="divider" />

    <p>

        With the Standard Membership, get access
        to our full range of gym facilities.
    </p>

    <ul>
        <li>Standard locker</li>
        <li>High-energy group fitness classes</li>
        <li>Motivating & supportive environment</li>

    </ul>

    <div>
        <div>
            <div>
                <p>
                    495.00 <span>/monthly </span> </p>

                <p>* Monthly 20 Classes</p>

            </div>

            <div>
                <button class="btn-primary">Join Now</button>
               </div>

            <hr class="divider" />

            <p>Try Any Membership Free For 1 Week</p>

        </div>
          
    </div>

</div>