

<nav class="header-nav">

    <div class="nav-wrapper">
        <div class="nav-logo">
            <a asp-controller="Home" asp-action="Index">
                <img src="~/images/logotype-text.svg" alt="CoreFitness Logo" />
                
            </a>
        </div>

        <div>
            <ul class="nav-links">
                <li><a asp-controller="Home" asp-action="Index">Fitness Centers</a></li>
                <li><a asp-controller="Membership" asp-action="Index">Memberships</a></li>
                <li><a asp-controller="Home" asp-action="Training">Training</a></li>
                <li><a asp-controller="Home" asp-action="CustomerService">Customer Service</a></li>
                <li><a asp-controller="Home" asp-action="Store">Store</a></li>
            </ul>
        </div>

        
             <div class="nav-buttons">
            <a asp-area="Identity" asp-page="/Account/SignUp">Become Member</a>
            <a asp-area="Identity" asp-page="/Account/Login" class="signin-btn">Sign In</a>
            </div>
        

     </div>
   
</nav>