

<nav class="header-nav">

    <div class="nav-wrapper">
        <div class="nav-logo">
            <a asp-controller="Home" asp-action="Index">
                <img src="~/images/logotype-text.svg" alt="CoreFitness Logo" />
                
            </a>
        </div>

        <div>
            <ul class="nav-links">
                <li><a asp-controller="Home" asp-action="Index">Fitness Centers</a></li>
                <li><a asp-controller="Membership" asp-action="Index">Memberships</a></li>
                <li><a asp-controller="Home" asp-action="Training">Training</a></li>
                <li><a asp-controller="CustomerService" asp-action="Index">Customer Service</a></li>
                <li><a asp-controller="Home" asp-action="Store">Store</a></li>
            </ul>
        </div>

        
             <div class="nav-buttons">

            @if (SignInManager.IsSignedIn(User))
            {
                @* Show admin page if user is admin*@

                @if (User.IsInRole("Admin"))
                {
                    <a asp-controller="Admin" asp-action="Index" class="nav-link admin-link">
                        <i class="fa-solid fa-lock"></i> Admin Page
                    </a>
                }

                @* Show My account and log out if user is logged in *@

                <a asp-controller="Account" asp-action="My" class="nav-link">
                    <i class="fa-regular fa-user"></i> My Account
                </a>
                
                <form asp-controller="Account" asp-action="Logout" method="post" style="display:inline;">
                    <button type="submit" class="signin-btn" style="border:none; cursor:pointer;">
                        <span>Sign Out</span>
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </form>
            }
            else
            {
                @* show become member and sign in if not already logged in *@

                <a asp-controller="Authentication" asp-action="SignUp">Become Member</a>

                <a asp-controller="Authentication" asp-action="SignIn" class="signin-btn">
                    <span>Sign In</span>
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            }
        </div>

     
     </div>
   
</nav>