@model MyAccountViewModel


<h1>My Account</h1>

<div class="about-section">
    <div class="about-l-column">

        <div class="profile-img-container">
            @if (!string.IsNullOrEmpty(Model.AboutMeForm.ProfileImageUri))
            {
                <img class="profile-image" src="@Model.AboutMeForm.ProfileImageUri" alt="Profile Image" />
            }
            else
            {
                <div class="camera-icon">
                    <i class="fa-solid fa-camera"></i>
                </div>
            }
        </div>

        <div class="menu-options">
            <div class="menu-header">Menu Options</div>
            <ul>
                <li>
                    <a asp-controller="Account" asp-action="My">
                        About Me <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </li>

                <li>
                    <a asp-controller="Account" asp-action="MyMembership">
                        My Membership <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </li>

                <li>
                    <a asp-controller="Account" asp-action="Bookings">
                        My Bookings <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </li>

                <li>
                    <form asp-controller="Account" asp-action="Logout" method="post">
                        <button type="submit" class="logout-link">
                            Sign Out <i class="fa-solid fa-chevron-right"></i>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
        
        <div class="remove-account-container">
            <p>If you would like to cancel your account, click below</p>

            <form asp-action="DeleteAccount" asp-controller="Account" method="post"
                  onsubmit="return confirm('Are you sure you want to delete your account? This cannot be undone.');">
                <button type="submit" class="btn-remove">
                    Remove Account
                </button>
            </form>
        </div>

        </div>

    <div class="about-r-column">


        <form class="auth-form" asp-action="UpdateProfile" asp-controller="Account" method="post" enctype="multipart/form-data" novalidate>
            <h2 class="title">About Me</h2>

            <div class="form-group">
                <label class="form-label" asp-for="AboutMeForm.FirstName"></label>
                <input class="form-input" asp-for="AboutMeForm.FirstName" />
                <span class="field-validation-error" asp-validation-for="AboutMeForm.FirstName"></span>
            </div>

            <div class="form-group">
                <label class="form-label" asp-for="AboutMeForm.LastName"></label>
                <input class="form-input" asp-for="AboutMeForm.LastName" />
                <span class="field-validation-error" asp-validation-for="AboutMeForm.LastName"></span>
            </div>

            <div class="form-group">
                <label class="form-label" asp-for="AboutMeForm.PhoneNumber"></label>
                <input class="form-input" asp-for="AboutMeForm.PhoneNumber" />
                <span class="field-validation-error" asp-validation-for="AboutMeForm.PhoneNumber"></span>
            </div>

            <div class="form-group">
                <label class="form-label" asp-for="AboutMeForm.ProfileFile"></label>
                <input class="form-input" asp-for="AboutMeForm.ProfileFile" type="file" accept="image/*" />
                <span class="field-validation-error" asp-validation-for="AboutMeForm.ProfileFile"></span>
            </div>

            <button type="submit" class="signin-btn">
                <span>Save changes</span>
                <i class="fa-solid fa-save"></i>
            </button>

        </form>
        
        <div class="statistics-card">
            <h3>My Statistics</h3>

            <div class="stat-item">
                <div class="stat-info">
                    <span>Check-In (last 30 days)</span>
                    <span>25</span>
                </div>
                <div class="progress-bg">
                    <div class="progress-fill" style="width: 90%;"></div>
                </div>
            </div>

            <div class="stat-item">
                <div class="stat-info">
                    <span>Weight Goal</span>
                    <span>50%</span>
                </div>
                <div class="progress-bg">
                    <div class="progress-fill" style="width: 50%;"></div>
                </div>
            </div>
        
            <div class="stat-item">
                <div class="stat-info">
                    <span>Current BMI</span>
                    <span>27</span>
                </div>
                <div class="progress-bg">
                    <div class="progress-fill" style="width: 70%;"></div>
                </div>
            </div>

        </div>


    </div>

 </div>

