@model MyMembershipViewModel


<h1>My Membership</h1>

<div class="about-section">
    <div class="about-l-column">

        <div class="menu-options">
            <div class="menu-header">Menu Options</div>
            <ul>
                <li>
                    <a asp-controller="Account" asp-action="My">
                        About Me <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </li>

                <li>
                    <a asp-controller="Account" asp-action="MyMembership">
                        My Membership <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </li>

                <li>
                    <a asp-controller="Account" asp-action="Bookings">
                        My Bookings <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </li>

                <li>
                    <a asp-controller="Auth" asp-action="Logout">
                        Sign Out <i class="fa-solid fa-chevron-right"></i>
                    </a>
                </li>
            </ul>
        </div>


        <div class="remove-account-container">
            <p>If you would like to cancel your account, click below</p>

            <form asp-action="DeleteAccount" asp-controller="Account" method="post"
                  onsubmit="return confirm('Are you sure you want to delete your account? This cannot be undone.');">
                <button type="submit" class="btn-remove">
                    Remove Account
                </button>
            </form>
        </div>

    </div>

    <div class="about-r-column">

        <div class="my-membership">

                <h2>My Membership</h2>
    
                <p>
                    You are currently subscribed to the <strong>Premium Plan</strong>.
                    Your next billing date is on <strong>May 28, 2026</strong>.
                </p>
    
            <a href="#" class="signin-btn">Manage Membership <i class="fa-solid fa-chevron-right"></i></a>
        </div>



    </div>

</div>

