.admin-dashboard {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1rem;
    min-height: 70vh; 
}

.admin-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
  
}

@media (min-width: 768px) {
    .admin-dashboard {
        gap: 3rem;
    }

    .admin-actions {
        flex-direction: row;
    }
}

    