.admin-dashboard {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1rem;
    min-height: 70vh; 
}

.admin-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
  
}

.class-category {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #A4D65E;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.class-instructor {
    font-size: 0.9rem;
    margin: 0.5rem 0;
    color: #555;
}

.btn-delete {
    background-color: #ffeded;
    color: #d9534f;
    border: 1px solid #d43f3a;
    margin-left: 5px;
}

    .btn-delete:hover {
        background-color: #d9534f;
        color: white;
    }

@media (min-width: 768px) {
    .admin-dashboard {
        gap: 3rem;
    }

    .admin-actions {
        flex-direction: row;
    }
}

    