
<div class="admin-dashboard">

    <h1>Admin Control Panel</h1>

    <p>Welcome, @User.Identity!.Name. Managing the gym has never been easier.</p>

    <div class="admin-actions">
        <a asp-action="Bookings" class="signin-btn">
            <i class="fa-solid fa-calendar-check"></i> Manage Bookings
        </a>

        <a asp-action="GymClasses" class="signin-btn">
            <i class="fa-solid fa-plus"></i> Manage Gym Classes
        </a>
    </div>

    </div>
