
<h1>Customer Service</h1>


<div id="customer-service-wrapper">

<img src="~/images/contact-us-image.svg"/> 


    <form class="contact-form" novalidate>
    
    <h1 class="title">Contact Us Today</h1>
    <p>Ready to begin your fitness journey? Contact GymPro today and let our expert trainers guide you with the right program and support.</p>

    <div class="form-row">
        <div class="form-group">
            <label class="form-label">First Name *</label>
            <input class="form-input" type="text" placeholder="Enter First Name" />
        </div>
        <div class="form-group">
            <label class="form-label">Last Name *</label>
            <input class="form-input" type="text" placeholder="Enter Last Name" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label class="form-label">Email Address *</label>
            <input class="form-input" type="email" placeholder="Enter Email Address" />
        </div>
        <div class="form-group">
            <label class="form-label">Phone Number</label>
            <input class="form-input" type="tel" placeholder="Enter Phone Number" />
        </div>
    </div>

    <div class="form-group">
        <label class="form-label">Message *</label>
        <textarea class="form-input" placeholder="Message..."></textarea>
    </div>

    <button type="button">
        <span>Submit Message</span>
        <i class="fa-solid fa-chevron-right"></i>
    </button>

</form>



</div>

<div id="faq-section">

    <div id="faq-l-column">
    
        <img id="faq-img" src="~/images/faq.svg" />

    </div>

    <div id="faq-r-column">

        <span class="badge">Frequently Asked Questions</span>

        <h1>
            Common questions about
            gym and training
        </h1>

        <partial name="Partials/_FAQ" />

    </div>

</div>

