
<h1>Our Membership offers</h1>


<div class="cards-grid">

    @* @foreach (var card in Model.Memberships)
    {
        <partial name="Partials/_MembershipCard/_MembershipCard" model="card" />
    } *@
    
   
        <partial name="Partials/_MembershipCard/_MembershipCard" />

        <partial name="Partials/_MembershipCard/_MembershipCard"  />

   

    <div class="call-us-card">
        <h3>Get Your Membership</h3>
        <p>
            Our memberships give you access to all
            equipment, personalized training.
        </p>

        <hr />

        <p>Call Us At: +(46) 8 410 521 00</p>

        <a href="#" class="signin-btn">Call Us Today! <i class="fa-solid fa-chevron-right"></i></a>

        <img class="card-img"src="/images/card-img.svg" />


    </div>

</div>

<div class="membership-banner">
  
    <span class="banner-item"><i class="fa-solid fa-calendar"> </i> Get 30 day free trial </span>

    <span class="banner-item"><i class="fa-solid fa-credit-card"> </i> No any hidden fees pay</span>

    <span class="banner-item"><i class="fa-solid fa-clock"> </i> You can cancel anytime</span>

</div>

<div id="faq-section">

    <div id="faq-l-column">
    
        <img id="faq-img" src="~/images/faq.svg" />

      </div>

      <div id="faq-r-column">

    <span class="badge">Frequently Asked Questions</span>

        <h1>
            Common questions about
            gym and training
        </h1>

    <partial name="Partials/_FAQ" />

    </div>

</div>

