
.auth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100dvh - 110px);
    background-color: var(--primary-bg-color);
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
}

.auth-form {
    height: auto;
    background-color: #FFFFFF;
    padding: 2rem 3rem;
    border-radius: 25px;
    width: 100%;
    max-width: 900px;
    height: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
}

    .auth-form .title {
       
        font-weight: 500;
        margin-bottom: 10px;
        color: #000;
    }

    .auth-form p {
        color: #666;
        font-size: 0.9rem;
        line-height: 1.5;
        margin-bottom: 20px;
    }

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left; 
    margin-bottom: 20px;
}

.form-label {
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 0.85rem;
}

.form-input {
    padding: 12px 15px;
    border: 1px solid #eee;
    background-color: #f9f9f9;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s;
}

    .form-input:focus {
        border-color: #d2f34c; 
    }


button {
    background-color: var(--green-color);
    color: black !important;
    border: none;
    padding: 0.7rem 1.5rem;
    width: fit-content;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    transition: transform 0.1s;
    text-decoration: none;

    i {
        display: inline-block;
        font-size: 0.8rem;
    }

    &:active {
        transform: scale(0.98);
    }
}


    .checkbox {
        flex-direction: row;
        align-items: center;
        gap: 10px;
        font-size: 0.85rem;
    }

    .field-validation-error {
        color: #e74c3c;
        font-size: 0.75rem;
        margin-top: 5px;
    }

    .additional-information a {
        color: #000;
        text-decoration: underline;
        font-weight: 600;
    }


    .login-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin: 2rem;
    }

    hr {
        width: 80%;
        opacity: 0.2;
    }